html {
    box-sizing: border-box;
}

body {
    margin: 0;
    background: #000;
}

.container {
    height: 75vh;
    width: 75vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: url('https://media3.giphy.com/media/l1J9L9V6KqrXknZpm/giphy.gif?cid=ecf05e470wgevhmujonoddoz48vm6dlgnkxgz4r4osnc8hjq&rid=giphy.gif&ct=g');
    background-size: contain;
    background-position: center right;
    background-repeat: no-repeat;
}

button {
    cursor: pointer;
    outline: none;
    width: 200px;
    height: 50px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    color: #000;
    background: linear-gradient(90deg, #DC5F00, #CF0A0A);
    border: 1px solid #000;
    border-radius: 5px;
    box-shadow: 2px 2px 20px 10px rgba(0, 0, 0, 0.2);
}

button:hover {
    filter: brightness(95%);
}
button:active {
    transform: scale(0.98);
}
button:disabled {
    cursor: default;
    filter: brightness(30%);
}

/* Media Query: Tablet or smaller */

@media screen and (max-width: 1000px) {
    .container {
        background-position: center center;
        background-size: cover;
    }
    button {
        box-shadow: 5px 5px 30px 20px rgba(0, 0, 0, 0.5);
    }
}

